:root {
  --bg-image: url(https://raw.githubusercontent.com/Masked-RocketShip/BetterDiscord/main/Background/Black_And_White_Triangles.jpeg);
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}


/*
*   Hide & Remove
* -------------------
*/
@import url(https://raw.githubusercontent.com/Masked-RocketShip/BetterDiscord/main/CSS-Files/HideAndRemove.css);

/*
* RadialStatus
* -------------------
/*
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');



